/* Main CSS for portfolio project */

/*                     */
/* Global Styles       */
/*                     */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html body {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header {
    border-bottom: .1em solid grey;
    margin: 1em 0 2em 0;
}

footer {
    border-top: .1em solid grey;
    margin: 2em 0 2em 0;
    text-align: center;
}

img, embed, object, video {
    max-width: 100%;
}

.feature-box {
    background-color: #FAFAFA;
    margin: 1em .5em 1em;
    padding: .5em;
    text-align: center;
    word-wrap: break-word;
}

.feature-image {
    max-height: 125px;
    max-width: 250px;
}

.front-image-container {
    text-align: center;
}

.header {
    align-items: center;
}

.header-title {
    margin-top: 0;
    text-align: right;
}

.header-subtitle h4 {
    margin: 1em 0 1em;
    text-align: center;
}

.logo {
    width: 75px;
}

.main {
    text-align: center;
}

.text-muted {
    color: #868e96 !important;
}

/*                     */
/* Screen <= 600px     */
/*                     */

@media screen and (max-width:600px) {

    .front-image {
        display: none;
    }
}

/*                     */
/* Screen >= 768px     */
/*                     */

@media screen and (min-width:768px) {

    .feature-box {
        max-width: 320px;
    }

    .feature-list {
        display: flex;
        flex-wrap: wrap;
    }
}

/*                     */
/* Screen >= 1024px    */
/*                     */

@media screen and (min-width:1024px) {

    footer {
        text-align: left;
    }

    .main {
        text-align: left;
    }

    .header-subtitle h4 {
        text-align: right;
    }
}

